{{#each this}}

<div class="col-md-7 col-lg-10 company-page-div">
    <h2 class="mb-3 page-title">Do you want to add or change company's DATA? It's easy! Try it!</h2>

    <div class="page-wrapper">
        <aside class="col-5">
            <div class="d-flex flex-column p-3 bg-light" style="width: 380px;">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                <span class="fs-4 text-center js-table-name">{{name}}</span>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li>
                        Count of employees: <b class="js-table-countOfEmployees">{{countOfEmployees}}</b>
                    </li>
                    <li>
                        Email: <b class="js-table-email">{{email}}</b>
                    </li>
                    <li>
                        Web-site: <b class="js-table-website">{{website}}</b>
                    </li>
                    <li>
                        Country: <b class="js-table-country">{{country}}</b>
                    </li>
                </ul>
                <hr>

            </div>
        </aside>

        <form id="company-data-form" class="needs-validation col" novalidate=''>
            <div class="row g-3">
                <div class="col-sm-6">
                    <label for="companyName" class="form-label">Company's name</label>
                    <input type="text" class="form-control" id="companyName" name="name" placeholder="" value=""
                        required="">

                </div>

                <div class="col-sm-6">
                    <label for="countOfEmpoyees" class="form-label">Count of employees</label>
                    <input type="Number" class="form-control" id="countOfEmpoyees" name="countOfEmployees"
                        placeholder="" value="" required="">

                </div>

                <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com">

                </div>

                <div class="col-12">
                    <label for="webSite" class="form-label">Web-site</label>
                    <input type="url" class="form-control" id="webSite" name="website"
                        placeholder="https://developer.mozilla.org/" required="">

                </div>

                <div class="col-md-5">
                    <label for="country" class="form-label">Country</label>
                    <select class="form-select" id="country" name="country" required="">
                        <option value="">Choose...</option>
                        <option>Ukraine</option>
                        <option>Belarus</option>
                    </select>

                </div>
            </div>

            <hr class="my-4">

            <button class="w-100 btn btn-primary btn-lg changeDataBtn" type="submit">Change DATA</button>
            <a class="w-100 btn btn-primary btn-lg leaveBtn" href="http://localhost:4040/">Go to main page</a>
        </form>
    </div>
</div>
{{/each}}